In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

# import module bagian pengukuran kinerja
from sklearn.metrics import classification_report, cohen_kappa_score, fbeta_score, roc_auc_score
from sklearn.metrics import confusion_matrix

In [2]:
# untuk import data dan dijadikan dataframe
df = pd.read_csv("Iris.csv")
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [3]:
label_enc = {"Species": {"Iris-setosa":1.0, "Iris-versicolor":2.0, "Iris-virginica":3.0}}
df.replace(label_enc, inplace=True)

In [4]:
df.shape

(150, 6)

In [5]:
X = df.iloc[:,0:4]
# X = df[["nama atr 1", "nama atr 2"]]
y = df.iloc[:,-1]

In [6]:
X

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0      1            5.1           3.5            1.4
1      2            4.9           3.0            1.4
2      3            4.7           3.2            1.3
3      4            4.6           3.1            1.5
4      5            5.0           3.6            1.4
..   ...            ...           ...            ...
145  146            6.7           3.0            5.2
146  147            6.3           2.5            5.0
147  148            6.5           3.0            5.2
148  149            6.2           3.4            5.4
149  150            5.9           3.0            5.1

[150 rows x 4 columns]

In [7]:
y

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    3.0
Name: Species, Length: 150, dtype: float64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.33, stratify = y)

In [9]:
# menjelaskan ukuran data setelah dibagi
len(X_train), len(X_test)

(100, 50)

In [10]:
list_kernel = ["linear", "rbf", "poly", "sigmoid"]

In [11]:
list_model_svm = []
for i in list_kernel :
  temporary_model = svm.SVC(kernel=i)
  temporary_model.fit(X_train, y_train)
  list_model_svm.append(temporary_model)

In [12]:
list_model_svm

[SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False),
 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
     decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
     max_iter=-1, probability=False, random_state=None, shrinking=True,
     tol=0.001, verbose=False)]

In [13]:
# membangun model
model_svr = svm.SVR(kernel="linear")
model_svm = svm.SVC(kernel = "poly")

# melatih model dengan data train(latihan)
model_svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [14]:
# membuat variabel hasil prediksi pada data test uji
predict_svm = model_svm.predict(X_test)

predict_svm

array([2., 3., 2., 3., 1., 3., 3., 3., 1., 2., 2., 2., 3., 2., 2., 2., 1.,
       3., 2., 1., 3., 2., 2., 1., 3., 1., 1., 3., 1., 1., 2., 2., 3., 1.,
       1., 3., 3., 1., 3., 3., 3., 1., 2., 1., 2., 1., 1., 1., 3., 2.])

In [15]:
print(classification_report(y_test, predict_svm))

              precision    recall  f1-score   support

         1.0       0.94      1.00      0.97        16
         2.0       1.00      0.94      0.97        17
         3.0       1.00      1.00      1.00        17

    accuracy                           0.98        50
   macro avg       0.98      0.98      0.98        50
weighted avg       0.98      0.98      0.98        50

In [16]:
print(confusion_matrix(y_test, predict_svm))

[[16  0  0]
 [ 1 16  0]
 [ 0  0 17]]

In [18]:
# print(roc_auc_score(y_test, predict_svm, multi_class = "ovm"))

In [19]:
print(cohen_kappa_score(y_test, predict_svm))

0.97000599880024

In [20]:
print(fbeta_score(y_test, predict_svm, beta=0.5, average="micro"))

0.98